@font-face {
    font-family: 'momcakethin';
    src: url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/momcakethin-9y6az-webfont.woff2') format('woff2'),
        url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/momcakethin-9y6az-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1{
    color: red;
}
#sideMenu{
height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}
h1 {
    font-family: 'momcakethin', serif;
    font-weight: normal;
    font-style: normal;
}