



@font-face {
    font-family: 'momcakethin';
    src: url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/momcakethin-9y6az-webfont.woff2') format('woff2'),
         url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/momcakethin-9y6az-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'momcakebold';
    src: url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/momcakebold-wyona-webfont.woff2') format('woff2'),
         url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/momcakebold-wyona-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'notera_personal_use_onlyRg';
    src: url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/noterapersonaluseonly-wxj9-webfont.woff2') format('woff2'),
         url('https: //github.com/ketaniaaa/2112886-IM4-Block1/blob/main/fonts/noterapersonaluseonly-wxj9-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}